cache/char/ContactList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../resultRowset.xsd"/>
  <xs:complexType name="rowType">
    <xs:attribute name="contactID" use="required" type="eveID"/>
    <xs:attribute name="contactName" use="required" type="xs:string"/>
    <xs:attribute name="inWatchlist" use="required" type="xs:NCName"/>
    <xs:attribute name="standing" use="required" type="xs:decimal"/>
  </xs:complexType>
</xs:schema>
