cache/char/MailingLists.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../resultRowset.xsd"/>
  <xs:complexType name="rowType">
    <xs:attribute name="displayName" use="required" type="xs:string"/>
    <xs:attribute name="listID" use="required" type="eveID"/>
  </xs:complexType>
</xs:schema>
