cache/char/Notifications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../resultRowset.xsd"/>
  <xs:complexType name="rowType">
    <xs:attribute name="notificationID" use="required" type="eveID"/>
    <xs:attribute name="read" use="required" type="xs:integer"/>
    <xs:attribute name="senderID" use="required" type="eveID"/>
    <xs:attribute name="sentDate" use="required"/>
    <xs:attribute name="typeID" use="required" type="xs:integer"/>
  </xs:complexType>
</xs:schema>
