cache/char/Research.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../resultRowset.xsd"/>
  <xs:complexType name="rowType">
    <xs:attribute name="agentID" use="required" type="eveID"/>
    <xs:attribute name="pointsPerDay" use="required" type="xs:decimal"/>
    <xs:attribute name="remainderPoints" use="required" type="xs:decimal"/>
    <xs:attribute name="researchStartDate" use="required" type="eveDT"/>
    <xs:attribute name="skillTypeID" use="required" type="eveID"/>
  </xs:complexType>
</xs:schema>
