cache/corp/AccountBalance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../resultRowset.xsd"/>
  <xs:complexType name="rowType">
    <xs:attribute name="accountID" use="required" type="eveID"/>
    <xs:attribute name="accountKey" use="required" type="xs:integer"/>
    <xs:attribute name="balance" use="required" type="xs:decimal"/>
  </xs:complexType>
</xs:schema>
