cache/corp/ContactList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../eveapi.xsd"/>
  <xs:include schemaLocation="../rowset.xsd"/>
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="rowset" type="rowset"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="rowType">
    <xs:attribute name="contactID" use="required" type="eveID"/>
    <xs:attribute name="contactName" use="required" type="xs:string"/>
    <xs:attribute name="standing" use="required" type="xs:decimal"/>
  </xs:complexType>
</xs:schema>
