cache/eve/RefTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../resultRowset.xsd"/>
  <xs:complexType name="rowType">
    <xs:attribute name="refTypeID" use="required" type="xs:unsignedShort"/>
    <xs:attribute name="refTypeName" use="required" type="xs:string"/>
  </xs:complexType>
</xs:schema>
