cache/server/ServerStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../eveapi.xsd"/>
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="serverOpen" type="eveBoolean"/>
        <xs:element name="onlinePlayers" type="xs:unsignedLong"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
