lib/Database/Char/AccountBalance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common.xsd"/>
    <xs:complexType name="rowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="eveIDType" name="accountID"/>
                <xs:attribute type="xs:unsignedShort" name="accountKey"/>
                <xs:attribute type="eveISKType" name="balance"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element type="accountsType" name="accounts"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="accountsType">
        <xs:sequence>
            <xs:element type="rowType" name="row"/>
        </xs:sequence>
        <xs:attributeGroup ref="rowsetAttrs"/>
    </xs:complexType>
</xs:schema>
