lib/Database/Char/CharacterSheet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common.xsd"/>
    <xs:complexType name="attributeEnhancersRowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="augmentatorName"
                    use="required"/>
                <xs:attribute type="xs:string" name="augmentatorValue"
                    use="required"/>
                <xs:attribute type="xs:string" name="bonusName" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="certificatesRowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="eveIDType" name="certificateID"
                    use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="rolesRowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="eveIDType" name="roleID" use="required"/>
                <xs:attribute type="xs:string" name="roleName" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="skillsRowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:unsignedByte" name="level"
                    use="required"/>
                <xs:attribute type="eveBooleanType" name="published"
                    use="required"/>
                <xs:attribute type="xs:unsignedInt" name="skillpoints"
                    use="required"/>
                <xs:attribute type="eveIDType" name="typeID" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="titlesRowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="eveIDType" name="titleID" use="required"/>
                <xs:attribute type="xs:string" name="titleName" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="attributeBonusType">
        <xs:sequence>
            <xs:element type="xs:string" name="augmentatorName"/>
            <xs:element type="xs:unsignedByte" name="augmentatorValue"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attributeEnhancersType">
        <xs:sequence>
            <xs:element type="attributeEnhancersRowType" name="row"
                maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="rowsetAttrs"/>
    </xs:complexType>
    <xs:complexType name="attributesType">
        <xs:all>
            <xs:element type="xs:unsignedByte" name="intelligence"/>
            <xs:element type="xs:unsignedByte" name="memory"/>
            <xs:element type="xs:unsignedByte" name="charisma"/>
            <xs:element type="xs:unsignedByte" name="perception"/>
            <xs:element type="xs:unsignedByte" name="willpower"/>
        </xs:all>
    </xs:complexType>
    <xs:complexType name="rolesType">
        <xs:sequence>
            <xs:element type="rolesRowType" name="row" maxOccurs="unbounded"
                minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="rowsetAttrs"/>
    </xs:complexType>
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element type="eveIDType" name="characterID"/>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="eveNEDTType" name="DoB"/>
            <xs:element type="xs:string" name="race"/>
            <xs:element type="xs:string" name="bloodLine"/>
            <xs:element type="xs:string" name="ancestry"/>
            <xs:element type="xs:string" name="gender"/>
            <xs:element type="xs:string" name="corporationName"/>
            <xs:element type="eveIDType" name="corporationID"/>
            <xs:element type="xs:string" name="allianceName"/>
            <xs:element type="eveIDType" name="allianceID"/>
            <xs:element type="xs:string" name="factionName"/>
            <xs:element type="eveIDType" name="factionID"/>
            <xs:element type="xs:string" name="cloneName"/>
            <xs:element type="xs:unsignedInt" name="cloneSkillPoints"/>
            <xs:element type="eveISKType" name="balance"/>
            <xs:element type="attributeEnhancersType"
                name="attributeEnhancers"/>
            <xs:element type="attributesType" name="attributes"/>
            <xs:element name="skills">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="skillsRowType" name="row"
                            maxOccurs="unbounded" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="rowsetAttrs"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="certificates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="certificatesRowType" name="row"
                            maxOccurs="unbounded" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="rowsetAttrs"/>
                </xs:complexType>
            </xs:element>
            <xs:element type="rolesType" name="corporationRoles"
                maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="rolesType" name="corporationRolesAtHQ"
                maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="rolesType" name="corporationRolesAtBase"
                maxOccurs="unbounded" minOccurs="0"/>
            <xs:element type="rolesType" name="corporationRolesAtOther"
                maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="corporationTitles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="titlesRowType" name="row"
                            maxOccurs="unbounded" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="rowsetAttrs"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
