lib/Database/Char/IndustryJobs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common.xsd"/>
    <xs:complexType name="rowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="eveIDType" name="jobID" use="required"/>
                <xs:attribute type="eveIDType" name="installerID"
                              use="required"/>
                <xs:attribute type="xs:string" name="installerName"
                              use="required"/>
                <xs:attribute type="eveIDType" name="facilityID"
                              use="required"/>
                <xs:attribute type="eveIDType" name="solarSystemID"
                              use="required"/>
                <xs:attribute type="xs:string" name="solarSystemName"
                              use="required"/>
                <xs:attribute type="eveIDType" name="stationID" use="required"/>
                <xs:attribute type="xs:unsignedInt" name="activityID"
                              use="required"/>
                <xs:attribute type="eveIDType" name="blueprintID"
                              use="required"/>
                <xs:attribute type="eveIDType" name="blueprintTypeID"
                              use="required"/>
                <xs:attribute type="xs:string" name="blueprintTypeName"
                              use="optional"/>
                <xs:attribute type="eveIDType" name="blueprintLocationID"
                              use="required"/>
                <xs:attribute type="eveIDType" name="outputLocationID"
                              use="required"/>
                <xs:attribute type="xs:unsignedLong" name="runs"
                              use="optional"/>
                <xs:attribute type="eveISKType" name="cost" use="required"/>
                <xs:attribute type="eveIDType" name="teamID" use="optional"/>
                <xs:attribute type="xs:unsignedLong" name="licensedRuns"
                              use="optional"/>
                <xs:attribute type="xs:string" name="probability"
                              use="optional"/>
                <xs:attribute type="eveIDType" name="productTypeID"
                              use="required"/>
                <xs:attribute type="xs:string" name="productTypeName"
                              use="optional"/>
                <xs:attribute type="xs:unsignedInt" name="status"
                              use="optional"/>
                <xs:attribute type="xs:unsignedLong" name="timeInSeconds"
                              use="optional"/>
                <xs:attribute type="eveNEDTType" name="startDate"
                              use="required"/>
                <xs:attribute type="eveDTType" name="endDate" use="optional"/>
                <xs:attribute type="eveDTType" name="pauseDate" use="optional"/>
                <xs:attribute type="eveDTType" name="completedDate"
                              use="optional"/>
                <xs:attribute type="eveIDType" name="completedCharacterID"
                              use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element name="jobs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="rowType" name="row" minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="rowsetAttrs"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
