lib/Database/Char/MailingLists.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common.xsd"/>
    <xs:complexType name="rowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="eveIDType" name="listID"/>
                <xs:attribute type="xs:string" name="displayName"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element name="mailingLists">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="rowType" name="row" minOccurs="0"
                            maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="rowsetAttrs"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
