lib/Database/Char/SkillInTraining.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common.xsd"/>
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element name="currentTQTime">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="eveNEDTType">
                            <xs:attribute name="offset" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:short">
                                        <xs:maxInclusive value="14"/>
                                        <xs:minInclusive value="-12"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element type="xs:integer" name="offset" maxOccurs="1"
                minOccurs="0"/>
            <xs:element type="eveDTType" name="trainingEndTime" maxOccurs="1"
                minOccurs="0"/>
            <xs:element type="eveDTType" name="trainingStartTime" maxOccurs="1"
                minOccurs="0"/>
            <xs:element type="eveIDType" name="trainingTypeID" maxOccurs="1"
                minOccurs="0"/>
            <xs:element type="xs:unsignedLong" name="trainingStartSP" maxOccurs="1"
                minOccurs="0"/>
            <xs:element type="xs:unsignedLong" name="trainingDestinationSP" maxOccurs="1"
                minOccurs="0"/>
            <xs:element type="xs:unsignedInt" name="trainingToLevel" maxOccurs="1"
                minOccurs="0"/>
            <xs:element type="xs:unsignedInt" name="skillInTraining" maxOccurs="1"
                minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>