lib/Database/Server/ServerStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common.xsd"/>
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element type="eveBooleanType" name="serverOpen"/>
            <xs:element type="xs:unsignedLong" name="onlinePlayers"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
