lib/Database/Account/AccountStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common.xsd"/>
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element type="eveNEDTType" name="paidUntil"/>
            <xs:element type="eveNEDTType" name="createDate"/>
            <xs:element type="xs:unsignedLong" name="logonCount"/>
            <xs:element type="xs:unsignedLong" name="logonMinutes"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
