lib/Database/Account/AccountStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common.xsd"/>
    <xs:complexType name="multiCharacterTrainingType">
        <xs:sequence>
            <xs:element type="rowType" name="row" maxOccurs="unbounded"
                        minOccurs="0"/>
        </xs:sequence>
        <xs:attributeGroup ref="rowsetAttrs"/>
    </xs:complexType>
    <xs:complexType name="rowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="eveDTType" name="trainingEnd"
                              use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element type="eveNEDTType" name="paidUntil"/>
            <xs:element type="eveNEDTType" name="createDate"/>
            <xs:element type="xs:unsignedLong" name="logonCount"/>
            <xs:element type="xs:unsignedLong" name="logonMinutes"/>
            <xs:element type="multiCharacterTrainingType"
                        name="multiCharacterTraining" maxOccurs="1"
                        minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
