lib/Database/Corp/MarketOrders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common.xsd"/>
    <xs:complexType name="rowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="eveIDType" name="orderID"/>
                <xs:attribute type="eveIDType" name="charID"/>
                <xs:attribute type="eveIDType" name="stationID"/>
                <xs:attribute type="xs:unsignedLong" name="volEntered"/>
                <xs:attribute type="xs:unsignedLong" name="volRemaining"/>
                <xs:attribute type="xs:unsignedLong" name="minVolume"/>
                <xs:attribute type="xs:unsignedByte" name="orderState"/>
                <xs:attribute type="eveIDType" name="typeID"/>
                <xs:attribute type="xs:short" name="range"/>
                <xs:attribute type="xs:unsignedShort" name="accountKey"/>
                <xs:attribute type="xs:unsignedShort" name="duration"/>
                <xs:attribute type="eveISKType" name="escrow"/>
                <xs:attribute type="eveISKType" name="price"/>
                <xs:attribute type="eveBooleanType" name="bid"/>
                <xs:attribute type="eveNEDTType" name="issued"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element name="orders">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="rowType"
                                    name="row"
                                    minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="rowsetAttrs"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
