lib/Database/Corp/StarbaseList.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="../common.xsd"/>
    <xs:complexType name="rowType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="eveIDType" name="itemID"/>
                <xs:attribute type="eveIDType" name="typeID"/>
                <xs:attribute type="eveIDType" name="locationID"/>
                <xs:attribute type="eveIDType" name="moonID"/>
                <xs:attribute type="eveIDType" name="state"/>
                <xs:attribute type="eveNEDTType" name="stateTimestamp"/>
                <xs:attribute type="eveNEDTType" name="onlineTimestamp"/>
                <xs:attribute type="eveIDType" name="standingOwnerID"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="resultType">
        <xs:sequence>
            <xs:element name="starbases">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element type="rowType"
                                    name="row"
                                    minOccurs="0"
                                    maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attributeGroup ref="rowsetAttrs"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
